body {
  font-family: "Signika", sans-serif;
}
.card {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(205, 152, 235, 0.506061799719888) 0%,
    rgba(10, 0, 255, 0.20354079131652658) 94%
  );

  max-width: 650px;
}
#input-city {
  padding: 8px 100px 8px 0;
  border: #113f67 solid 1px;
  border-radius: 5px;
}
h1 {
  font-size: 50px;
}
h1,
h2,
h3 {
  margin: 20px 0 0 0;
  color: #113f67;
}
h2 {
  font-size: 25px;
  position: relative;
  top: 10px;
  font-style: italic;
}
h3 {
  font-size: 20px;
  position: relative;
  font-style: italic;
}
.currently {
  margin: 30px 0;
}
.current-temp {
  font-size: 50px;
  color: #113f67;
  font-weight: 500;
  position: relative;
  top: 10px;
}
.celsius,
.fah {
  font-size: 14px;
  color: #113f67;
  font-weight: light;
  position: relative;
  bottom: 20px;
  cursor: pointer;
}
.descriptor {
  font-size: 16px;
  position: relative;
  left: 22px;
  color: #113f67;
}
.humidity {
  position: relative;
  top: 55px;
  font-size: 20px;
  color: #113f67;
}
.wind {
  position: relative;
  top: 60px;
  font-size: 20px;
  color: #113f67;
}
.forecast {
  font-size: 20px;

  color: #113f67;
  line-height: 24px;
}
.days {
  font-size: 20px;
  text-align: center;
}
.icons {
  font-size: 30px;
  text-align: center;
}

.temps {
  font-size: 20px;
  text-align: center;
}
.row {
  margin: 0 0 0 10px;
}

.author {
  font-size: 14px;
}

.source {
  text-decoration: none;
}
.source:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: ease-in-out;
}
